.course-container{
    max-width: 500px;
    margin: 100px auto 0px auto;
    .back-button{
        color: $primary-color !important;
        text-decoration: underline !important;
        &:hover{
            cursor: grab;
            color: $dark-text-color;
        }
    }
}

.category-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $dark-text-color;
    font-size: 1.4em;
    margin-top: 20px;
}

.assignment-table{
    width: 100%;
    margin-bottom: 20px;
    thead{
        background-color: $primary-color;
        color: $white-color;
    }
    tfoot{
        background-color: $primary-color;
        color: $white-color;
    }
    tbody{
        color: $dark-text-color;
        tr:nth-child(2n+1){
            background-color: $white-color;
        }
        tr{
            td{
                a{
                    color: $primary-color !important;
                    text-decoration: underline !important;
                    &:hover{
                        cursor: grab;
                        color: $dark-text-color;
                    }
                }
            }
        }
    }
}

.assignment-modal{

    &__label{
        width: 100%;
        text-align: center;
    }

    &__error{
        width: 460px !important;
        margin-top: 20px;
        font-size: 0.8em !important;
    }

    &__grade-input{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        input{
            max-width: 100px;
        }
        span{
            font-size: 1.4em;
            margin-left: 10px;
        }
    }
}

@media only screen and (max-width: 540px){
    .grade-container{
        max-width: 90vw;
    }
    .assignment-table{
        thead{
            tr{
                th:nth-child(1){
                    display: none;
                }
            }
        }
        tfoot{
            tr{
                th:nth-child(1){
                    display: none;
                }
            }
        }
        tbody{
            tr{
                td:nth-child(1){
                    display: none;
                }
            }
        }
    }
    .assignment-modal{
        &__label{
            width: 100%;
            text-align: center;
        }
    
        &__error{
            width: 200px !important;
            margin-top: 20px;
            font-size: 0.8em !important;
        }

        input{
            width: 200px;
        }
    }
}