.footer{
    background-color: $primary-color;
    color: $white-color;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px 20px 0px 20px;

    h4{
        margin: 0;
    }
}

.push{
    min-height: calc(100vh - 100px);
}