.grade-table{
    width: 100%;
    thead{
        background-color: $primary-color;
        color: $white-color;
    }
    tfoot{
        background-color: $primary-color;
        color: $white-color;
    }
    tbody{
        color: $dark-text-color;
        tr:nth-child(2n+1){
            background-color: $white-color;
        }
        tr{
            td{
                a{
                    color: $primary-color !important;
                    text-decoration: underline !important;
                    &:hover{
                        cursor: grab;
                        color: $dark-text-color;
                    }
                }
            }
        }
    }
}

.grade-container{
    max-width: 500px;
    margin: 100px auto 0px auto;

    h1{
        margin: 0px auto 20px auto;
        text-align: center;
    }
}


@media only screen and (max-width: 520px){
    .grade-table{
        width: 90vw;
        margin: auto;
        thead{
            tr{
                th:nth-child(3){
                    display: none;
                }
            }
        }
        tfoot{
            tr{
                th:nth-child(3){
                    display: none;
                }
            }
        }
        tbody{
            tr{
                td:nth-child(3){
                    display: none;
                }
            }
        }
    }
}

