.error{
    background-color: $primary-color;
    color: $white-color;
    padding: 20px;
    font-size: 1.2em;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}


.modal{
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
    color: $dark-text-color;
    padding: 20px;
    position: fixed;
    transform: translate(0, -50%);
    max-width: 500px;
    margin: auto auto auto auto;
    top: 50%;
    width: 100%;

    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__title{
            font-size: 1.4em;
        }
        &__dismiss{
            font-size: 1.4em;
            &:hover{
                color: $primary-color;
                cursor: grab;
            }
        }
    }
    &__body{
        font-size: 1.2em;
        padding: 20px 0px 20px 0px;
    }
    &__footer{
        display: flex;
        justify-content: center;
        flex-direction: row;
        &__submit{
            color: $white-color;
            padding: 10px;
            background-color: $primary-color;
            border: 2px solid $primary-color;
            color: $white-color;
            font-size: 1.2em;
            &:hover{
                text-decoration: none;
                background-color: $white-color;
                color: $primary-color;
            }
        }
    }
}